Repository viam-modules/viam-cartographer, pull requests merged in 2023-06, with the labels that each got.

#106 [RSDK-3002] Add workflow to bump dependencies
  .github/workflows/bump_dependencies.yml
Labels: safe to test

#113 [RSDK-3144] create-carto-facade
  .github/workflows/test.yml
  Makefile
  viam-cartographer/CMakeLists.txt
  viam-cartographer/src/carto_facade/bstrlib.c
  viam-cartographer/src/carto_facade/bstrlib.h
  viam-cartographer/src/carto_facade/bstrlib.txt
  viam-cartographer/src/carto_facade/bstrwrap.cpp
  viam-cartographer/src/carto_facade/bstrwrap.h
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
Labels: safe to test

#103 RSDK-3276/RSDK-3277: Update cartographer for data replay
  integration_test.go
  internal/dim-2d/dim-2d.go
  viam-cartographer.go
  viam-cartographer/src/slam_service/slam_service.cc
  viam-cartographer/src/slam_service/slam_service.h
  viam-cartographer/src/slam_service/slam_service_test.cc
Labels: safe to test

#122 [RSDK-3430] viam_carto_lib_init_term
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
  viam-cartographer/src/main_test.cc
Labels: safe to test

#123 RSDK-3362: Add test showing cartographer module looks for timestamps in context …
  internal/testhelper/testhelper.go
  viam-cartographer_test.go
Labels: safe to test

#126 RSDK-3168 remove ff from do command
  viam-cartographer.go
  viam-cartographer_test.go
Labels: safe to test

#136 RSDK-3604-install-artifact
  Makefile
  viam-cartographer/scripts/setup_cartographer_linux.sh
  viam-cartographer/scripts/setup_cartographer_macos.sh
Labels: safe to test

#137 RSDK-3603-consolidate-lua-files
  Makefile
  etc/packaging/appimages/cartographer-module-aarch64.yml
  etc/packaging/appimages/cartographer-module-x86_64.yml
  viam-cartographer/lua_files/map_builder.lua
  viam-cartographer/lua_files/map_builder_server.lua
  viam-cartographer/lua_files/pose_graph.lua
  viam-cartographer/lua_files/trajectory_builder.lua
  viam-cartographer/lua_files/trajectory_builder_2d.lua
  viam-cartographer/lua_files/trajectory_builder_3d.lua
Labels: safe to test

#135 RSDK-3372 Remove Testing From Appimage Workflow
  .github/workflows/appimage.yml
Labels: safe to test

#144 Hotfix run app update fix stale dep
  .github/workflows/main.yml
  .github/workflows/test.yml
Labels: safe to test

#147 hotfix-point-workflow-back-at-main
  .github/workflows/main.yml
Labels: safe to test

#127 RSDK-3426-io-bound-init-term
  Makefile
  viam-cartographer/scripts/build_viam_cartographer_debug.sh
  viam-cartographer/scripts/test_cartographer.sh
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
  viam-cartographer/src/carto_facade/io.cc
  viam-cartographer/src/carto_facade/io.h
  viam-cartographer/src/carto_facade/io_test.cc
  viam-cartographer/src/carto_facade/map_builder.cc
  viam-cartographer/src/carto_facade/map_builder.h
  viam-cartographer/src/carto_facade/util.cc
  viam-cartographer/src/carto_facade/util.h
Labels: safe to test

#152 [RSDK-3677] Add apt update to appimage workflow
  .github/workflows/appimage.yml
Labels: safe to test

#139 RSDK-3143 - CGO api implementation for full mod
  cartofacade/cgo_api.go
  cartofacade/cgo_api_test.go
  etc/golangci.yaml
  viam-cartographer/src/carto_facade/carto_facade.h
Labels: safe to test

#138 [RSDK-3429] start and stop
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
Labels: safe to test

#155 [RSDK-3746] Change num_range_data default
  viam-cartographer/src/slam_service/config_test.cc
  viam-cartographer/src/slam_service/slam_service.h
Labels: safe to test

#150 Streamline CMake and build system, move to newer protobuf
  .github/workflows/appimage.yml
  .github/workflows/test.yml
  Makefile
  README.md
  cartofacade/cgo_api.go
  etc/packaging/appimages/cartographer-module-aarch64.yml
  etc/packaging/appimages/cartographer-module-x86_64.yml
  viam-cartographer/CMakeLists.txt
  viam-cartographer/cartographer_build_utils/CMakeLists.txt
  viam-cartographer/cartographer_patches/carto.patch
  viam-cartographer/cmake/functions.cmake
  viam-cartographer/cmake/modules/FindEigen3.cmake
  viam-cartographer/scripts/build_cartographer.sh
  viam-cartographer/scripts/build_viam_cartographer.sh
  viam-cartographer/scripts/build_viam_cartographer_debug.sh
  viam-cartographer/scripts/setup_cartographer_linux.sh
  viam-cartographer/scripts/setup_cartographer_macos.sh
Labels: safe to test

#157 Update Cgo api to avoid unsafe pointer
  cartofacade/cgo_api.go
Labels: safe to test

#156 [RSDK-3540] add sensor reading
  cartofacade/cgo_api.go
  cartofacade/cgo_api_test.go
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
  viam-cartographer/src/carto_facade/io.cc
  viam-cartographer/src/carto_facade/map_builder.cc
  viam-cartographer/src/carto_facade/map_builder.h
  viam-cartographer/src/carto_facade/test_helpers.cc
  viam-cartographer/src/carto_facade/test_helpers.h
  viam-cartographer/src/carto_facade/util.cc
  viam-cartographer/src/carto_facade/util.h
  viam-cartographer/src/carto_facade/util_test.cc
Labels: safe to test

#158 update-makefile-dont-buf-every-time
  Makefile
Labels: safe to test

#162 Revert "update-makefile-dont-buf-every-time"
  Makefile
Labels: safe to test

#164 RSDK-3785 Add new deps to AppImage recipes
  .github/workflows/appimage-comment.yml
  etc/packaging/appimages/cartographer-module-aarch64.yml
  etc/packaging/appimages/cartographer-module-x86_64.yml
Labels: appimage-ignore-tests, safe to test

#166 Revert "Revert "update-makefile-dont-buf-every-time""
  Makefile
Labels: appimage, safe to test

#165 hotfix-fix-mac-sensor-reading-test-failures
  Makefile
  viam-cartographer/src/carto_facade/util.cc
Labels: appimage, safe to test

#167 RSDK-3809 Add Debug Logging
  module/main.go
Labels: safe to test

#153 RSDK-3143 - enforce one call into c at a time
  cartofacade/capi.go
  cartofacade/capi_mock.go
  cartofacade/capi_test.go
  cartofacade/carto_facade.go
  cartofacade/carto_facade_mock.go
  cartofacade/carto_facade_test.go
  cartofacade/testhelpers.go
Labels: safe to test

#172 RSDK-3828 - create cartofacade wrapper
  cartofacade/capi_test.go
  cartofacade/carto_facade.go
  cartofacade/carto_facade_test.go
Labels: safe to test

#160 [RSDK-3541] CartoFacade GetPosition
  cartofacade/capi.go
  cartofacade/capi_test.go
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
  viam-cartographer/src/carto_facade/test_helpers.cc
  viam-cartographer/src/carto_facade/test_helpers.h
Labels: safe to test

#179 hotfix-fix-compile-error-on-mac
  viam-cartographer/src/carto_facade/carto_facade_test.cc
  viam-cartographer/src/carto_facade/test_helpers.cc
Labels: safe to test

#170 RSDK-3626 Update Time in Cartographer to UTC
  internal/dim-2d/dim-2d.go
  viam-cartographer/src/carto_facade/io.cc
  viam-cartographer/src/io/file_handler.cc
Labels: safe to test

#176 RSDK-3591 Update Workflows for Stable/RC/Latest Appimage
  .github/workflows/appimage.yml
  .github/workflows/main.yml
  .github/workflows/releasecandidate.yml
  .github/workflows/stable.yml
  Makefile
  packaging.make
Labels: appimage-ignore-tests, safe to test
