Repository viam-modules/viam-cartographer, pull requests merged in 2023-07, with the labels that each got.

#182 Revert "RSDK-3591 Update Workflows for Stable/RC/Latest Appimage"
  .github/workflows/appimage.yml
  .github/workflows/main.yml
  .github/workflows/releasecandidate.yml
  .github/workflows/stable.yml
  Makefile
  packaging.make
Labels: safe to test

#178 [RSDK-3542] add-get-point-cloud-map
  Makefile
  cartofacade/capi.go
  cartofacade/capi_test.go
  cartofacade/testhelpers.go
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
  viam-cartographer/src/carto_facade/util.cc
  viam-cartographer/src/carto_facade/util.h
Labels: safe to test

#183 [RSDK-3543] get-internal-state
  cartofacade/capi.go
  cartofacade/capi_test.go
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
  viam-cartographer/src/carto_facade/util.cc
  viam-cartographer/src/carto_facade/util.h
Labels: safe to test

#184 [RSDK-3427] confirm-carto-facade-is-in-correct-state
  cartofacade/capi.go
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
Labels: safe to test

#180 RSDK-3561 GetLatestMapInfo PR2
  go.mod
  go.sum
  integration_test.go
  internal/inject/slam_service.go
  internal/testhelper/testhelper.go
  viam-cartographer.go
  viam-cartographer_test.go
Labels: safe to test

#185 [RSDK-3545] add sensor process
  cartofacade/capi.go
  cartofacade/carto_facade.go
  cartofacade/carto_facade_mock.go
  cartofacade/carto_facade_test.go
  internal/testhelper/testhelper.go
  sensorprocess/sensorprocess.go
  sensorprocess/sensorprocess_test.go
Labels: safe to test

#186 [RSDK-3786] full-mod-new-close
  Makefile
  cartofacade/capi.go
  cartofacade/capi_test.go
  cartofacade/testhelpers.go
  integration_test.go
  internal/dim-2d/dim-2d_test.go
  internal/testhelper/testhelper.go
  module/main.go
  sensorprocess/sensorprocess_test.go
  sensors/lidar/dim-2d/dim-2d.go
  sensors/lidar/dim-2d/dim-2d_test.go
  sensors/lidar/dim-2d/sensor-indices.go
  testhelper/inject/slam_service.go
  testhelper/testhelper.go
  viam-cartographer.go
  viam-cartographer_internal_test.go
  viam-cartographer_test.go
Labels: safe to test

#188 RSDK-3950 - call into cgo for getPosition
  viam-cartographer.go
  viam-cartographer_internal_test.go
Labels: safe to test

#190 [RSDK-2854] make-close-atomic-and-idempotent
  viam-cartographer.go
  viam-cartographer_test.go
Labels: safe to test

#191 add jobs done file
  viam-cartographer.go
Labels: appimage-ignore-tests, safe to test

#193 RSDK-3965 - call into cgo for getPointCloudMap
  viam-cartographer.go
  viam-cartographer_internal_test.go
  viam-cartographer_test.go
Labels: safe to test

#195 RSDK-3992 - call into cgo for GetInternalState
  viam-cartographer.go
  viam-cartographer_internal_test.go
  viam-cartographer_test.go
Labels: safe to test

#198 RSDK-4002 - add GetLatestMapInfo tests to full mod tests
  viam-cartographer_test.go
Labels: safe to test

#197 RSDK 3591 Update Workflows FIX
  .github/workflows/appimage.yml
  .github/workflows/main.yml
  .github/workflows/pullrequest-trusted.yml
  .github/workflows/releasecandidate.yml
  .github/workflows/stable.yml
  Makefile
  packaging.make
Labels: appimage, safe to test

#199 [RSDK-3546] report-slam-mode
  cartofacade/capi.go
  cartofacade/capi_test.go
  cartofacade/carto_facade.go
  cartofacade/carto_facade_mock.go
  cartofacade/carto_facade_test.go
  sensors/lidar/dim-2d/dim-2d_test.go
  viam-cartographer.go
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
Labels: safe to test

#196 [RSDK-3546] update-full-mod-integration-tests
  integration_test.go
  internal/testhelper/testhelper.go
  sensorprocess/sensorprocess.go
  sensors/lidar/dim-2d/dim-2d.go
  sensors/lidar/dim-2d/dim-2d_test.go
  sensors/lidar/lidar.go
  sensors/lidar/lidar_test.go
  sensors/sensor_mock.go
  sensors/sensors.go
  sensors/sensors_test.go
  testhelper/testhelper.go
  viam-cartographer.go
  viam-cartographer_internal_test.go
  viam-cartographer_test.go
Labels: safe to test

#202 fix-pcd-parse-error-log
  viam-cartographer/src/carto_facade/util.cc
Labels: safe to test

#205 [RSDK-4039] fix-makefile-not-rebuilding
  Makefile
Labels: safe to test

#204 fix-full-mod-cartographer-time
  cartofacade/capi.go
  cartofacade/capi_test.go
  integration_test.go
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
  viam-cartographer/src/carto_facade/util.cc
  viam-cartographer/src/carto_facade/util.h
  viam-cartographer/src/slam_service/slam_service.cc
Labels: safe to test

#208 RSDK-4074 - match end of dataset error
  go.mod
  go.sum
  sensorprocess/sensorprocess.go
  testhelper/testhelper.go
Labels: safe to test

#210 RSDK-4074 - quick fix for logging
  sensorprocess/sensorprocess.go
  testhelper/testhelper.go
Labels: safe to test

#207 [RSDK-3551] remove-feature-flag-delete-dead-code
  Makefile
  cartofacade/capi.go
  config/config.go
  config/config_test.go
  config/setup.go
  config/setup_test.go
  dataprocess/dataprocess.go
  dataprocess/dataprocess_test.go
  etc/packaging/appimages/cartographer-module-aarch64.yml
  etc/packaging/appimages/cartographer-module-x86_64.yml
  integration_test.go
  internal/testhelper/testhelper.go
  sensorprocess/sensorprocess.go
  sensorprocess/sensorprocess_test.go
  sensors/lidar/dim-2d/dim-2d.go
  sensors/lidar/dim-2d/dim-2d_test.go
  sensors/lidar/dim-2d/sensor-indices.go
  sensors/lidar/lidar.go
  sensors/lidar/lidar_test.go
  sensors/sensors.go
  sensors/sensors_test.go
  sensors/test_deps.go
  sensors/utils/utils.go
  testhelper/inject/slam_service.go
  testhelper/testhelper.go
  utils/utils.go
  utils/utils_test.go
  viam-cartographer/CMakeLists.txt
  viam-cartographer/scripts/run_cartographer.sh
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/carto_facade.h
  viam-cartographer/src/carto_facade/carto_facade_test.cc
  viam-cartographer/src/carto_facade/io_test.cc
  viam-cartographer/src/carto_facade/util.cc
  viam-cartographer/src/carto_facade/util_test.cc
  viam-cartographer/src/io/color.cc
  viam-cartographer/src/io/color.h
  viam-cartographer/src/io/draw_trajectories.cc
  viam-cartographer/src/io/draw_trajectories.h
  viam-cartographer/src/io/file_handler.cc
  viam-cartographer/src/io/file_handler.h
  viam-cartographer/src/io/file_handler_test.cc
  viam-cartographer/src/main.cc
  viam-cartographer/src/mapping/map_builder.cc
  viam-cartographer/src/mapping/map_builder.h
  viam-cartographer/src/slam_service/config.cc
  viam-cartographer/src/slam_service/config.h
  viam-cartographer/src/slam_service/config_test.cc
  viam-cartographer/src/slam_service/slam_service.cc
  viam-cartographer/src/slam_service/slam_service.h
  viam-cartographer/src/slam_service/slam_service_test.cc
  viam-cartographer/src/utils/slam_service_helpers.cc
  viam-cartographer/src/utils/slam_service_helpers.h
  viam-cartographer/src/utils/test_helpers.cc
  viam-cartographer/src/utils/test_helpers.h
  viam-cartographer_internal_test.go
  viam-cartographer_test.go
  viam_cartographer.go
  viam_cartographer_internal_test.go
  viam_cartographer_test.go
Labels: safe to test

#211 RSDK-4122 Fix typo in viam-cartographer github workflows
  .github/workflows/releasecandidate.yml
  .github/workflows/stable.yml
Labels: safe to test

#212 hotfix-add-nlopt
  etc/packaging/appimages/cartographer-module-aarch64.yml
  etc/packaging/appimages/cartographer-module-x86_64.yml
Labels: appimage, safe to test

#209 RSDK-3718 - cartographer appends to infinitely growing vector fix
  viam-cartographer/src/carto_facade/carto_facade.cc
  viam-cartographer/src/carto_facade/map_builder.cc
  viam-cartographer/src/carto_facade/map_builder.h
Labels: safe to test

#216 [RSDK-4148] remove-makefile-and-gh-action-full-mod
  .github/workflows/test.yml
  Makefile
Labels: safe to test

#220 Revert "[RSDK-4148] remove-makefile-and-gh-action-full-mod"
  .github/workflows/test.yml
  Makefile
Labels: safe to test

#215 RSDK-4064 - update mock lidar artifact dataset
  .artifact/tree.json
  integration_test.go
  testhelper/testhelper.go
Labels: safe to test

#221 Revert "Revert "[RSDK-4148] remove-makefile-and-gh-action-full-mod""
  .github/workflows/test.yml
  Makefile
Labels: safe to test

#224 Revert "Revert "Revert "[RSDK-4148] remove-makefile-and-gh-action-full-mod"""
  .github/workflows/test.yml
  Makefile
Labels: safe to test

#226 RSDK-4148-fix-post-full-mod-ci
  .github/workflows/test.yml
  Makefile
Labels: safe to test

#222 RSDK-4193: New Logic for GetLatestMapInfo
  viam_cartographer.go
  viam_cartographer_test.go
Labels: safe to test

#229 RSDK-4259-remove-feature-flag-language-from-tests
  viam_cartographer_test.go
Labels: safe to test

#230 [RSDK-4254] add slack alert and bump erh/scheme
  .github/workflows/bump_dependencies.yml
  go.mod
  go.sum
Labels: safe to test
